<div class="componentuser">
	<p><label>User ID:</label><input [(ngModel)]="user.id" type="text"></p>
	<p><label>UserName:</label><input [(ngModel)]="user.userName" type="text"></p>
	<p><label>Password:</label><input [(ngModel)]="user.password" type="text"></p>
	<p><label>First Name:</label><input [(ngModel)]="user.firstName" type="text"></p>
	<p><label>Last Name:</label><input [(ngModel)]="user.lastName" type="text"></p>
	<p><label>Phone:</label><input [(ngModel)]="user.phone" type="text"></p>
	<p><label>Email:</label><input [(ngModel)]="user.email" type="text"></p>
	<p><label>Reviewer?:</label><input [(ngModel)]="user.reviewer" type="text"></p>
	<p><label>Admin?:</label><input [(ngModel)]="user.admin" type="text"></p>
	<button (click)='buttonClick()'>Submit</button>
</div>